<h2>Estadísticas de Quiz</h2>
 
<ul align="left">
   <li>Preguntas: <%= statistics.quizes %></li>
   <li>Comentarios totales: <%= statistics.comments %></li>
   <li>Media de comentarios por pregunta: <%= statistics.quizes?(statistics.comments / statistics.quizes).toFixed(2):0 %></li>
   <li>Preguntas sin comentarios: <%= statistics.quizes - statistics.commentedQuizes %></li>
   <li>Preguntas con comentarios: <%= statistics.commentedQuizes %></li>
</ul>
